<footer class="footer pt-3  ">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="copyright text-center text-sm text-muted text-lg-start">
            {% comment %} &copy; <a href="https://bit.ly/3fKQZaL" class="text-muted" target="_blank">Creative Tim</a> - Coded by AppSeed. MODIFIED BY BENNY CALDERON {% endcomment %}
            &copy; <a href="/" class="text-muted" target="_blank">Fl0ck.biz</a>
            <p><b>PLEASE NOTE: THIS IS NOT FINANCIAL ADVICE!</b></p>
          </div>
        </div>
        
      </div>
    </div>
  </footer>
  